body{
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
}
p{
    color: #8f8f8f;
}
h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bolder;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'Gotu', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{ font-size: 20px;}
.btn{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
}
.features{
    padding: 7% 1%;
    text-align: center;
    line-height: 1cm;
    background-color: #fff;
    
}
.icon{
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials {
    padding: 7% 15%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}
.test-img{
 border-radius: 100%;
 width: 10%;
 margin: 20px;
}
.size{ font-size: 50px;}
#press{
    background-color:  #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 0%;
}
.card-deck{
 padding: 1% 7%;
}
.card-header{
    background-color:  #ff4c68;
    color: #fff;    
}
.card{
     padding:
}
#cta {
    padding: 7% 15%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}
#footer {
    text-align: center;
    padding: 5% 3% 3% 3%;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
.title-image {
    position: static;
    transform: rotate(0);
}
